{{define "footer"}}
  </div>
</main>
    <footer>
        <div class="text-bg-primary py-4 text-center">
            <p>&copy; <a href="https://github.com/cloudwego" class="text-reset">2025 CloudWeGo</a></p>
          </div>
    </footer>
    <script src="/static/js/bootstrap.bundle.min.js"
      
      crossorigin="anonymous">
    </script>
  </body>
</html>
{{end}}